<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Tamil+Supplement&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><img src="assets/img/logo_reus.jpg" style="height: 73px;width: 128.525px;">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Iniciar sesion</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="web">
        <div class="jumbotron" style="background: rgba(255,255,255,0.75);">
            <h1 style="font-family: Raleway, sans-serif;font-weight: bold;">Bienvenidos a Reus&nbsp;</h1>
            <p style="font-family: Raleway, sans-serif;">Hola buenas</p>
            <p><a class="btn btn-primary" role="button" style="font-family: Raleway, sans-serif;">Learn more</a></p>
        </div>
    </div>
    <div class="container site-section" id="Bienvenido">
        <h1 style="border-width: 0px;font-family: Raleway, sans-serif;font-weight: bold;">Bienvenido a Reus contrucciones</h1>
        <p style="font-family: Raleway, sans-serif;">Paragraph</p>
    </div>
    <div class="container site-section" id="Bienvenido-1">
        <h1 style="border-width: 0px;font-family: Raleway, sans-serif;font-weight: bold;">Bienvenido a Reus contrucciones</h1>
        <div class="row">
            <div class="col-md-4">
                <h2 style="font-weight: bold;">Heading</h2>
                <p>Paragraph</p>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>