<form method="post" action="">




    <div class="form-group">
        <label for="my-input">text</label>
        <input type="my-input" class="form-control" type="next" name="nombre">
    </div>

    <div class="form-group">
        <label for="my-input">Imagen</label>
        <input type="my-input" class="form-control" type="file" name="archivo">
    </div>

   
   <button class="button btn-primaryss" type="submit">Guardar</button>
      
</form>










